<!DOCTYPE html>

<html>
    <head>
        <title>almostGallery</title>
    </head>

    <body>
        <h1>Add a photo</h1>
        <div>
            <form id="photo_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Add photo"/>
            </form>
        </div>
    </body>
</html>