<!DOCTYPE html>
{% extends 'gallery/base.html' %}
{% load gallery_template_tags %}
<html>
    <head>
        <title>almostGallery</title>
    </head>

    <body>
        {% block body_block %}
        <h1 class="title">Add a photo</h1>
        <div>
            <form id="photo_form" method="post" enctype="multipart/form-data" class="button">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" class="button"value="Add photo"/>
            </form>
        </div>
        {% endblock %}
        {% get_album_list %}
    </body>
</html>