<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <title>almostGallery</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/albums.css' %}" />

</head>

<body>



<div>
    {% if albums %}

    <ul>
        {% for album in albums %}
            <li class="title">{{ album.name }}</li>
        {% endfor %}
    </ul>

    {% else %}
    <strong>There's not albums right now!</strong>
    {% endif %}
</div>

<div class="img">
    <a href="/gallery/about/">About</a><br />

    <img src="{% static 'images/Koala.jpg' %}" alt="Picture of Rango"/>
</div>
</body>

</html>