<!DOCTYPE html>
{% load static %}

<html>

<head>
    <title>almostGallery</title>
</head>

<body>
<h1>Rango says..</h1>
<div>
    hey there partner!<br />
</div>

<div>
    {% if albums %}

    <ul>
        {% for album in albums %}
            <li>{{ album.name }}</li>
        {% endfor %}
    </ul>

    {% else %}
    <strong>There's not albums right now!</strong>
    {% endif %}
</div>

<div>
    <a href="/gallery/about/">About</a><br />

    <img src="{% static 'images/Koala.jpg' %}" alt="Picture of Rango"/>
</div>
</body>

</html>