<!DOCTYPE html>
{% load staticfiles %}
{% load gallery_template_tags %}
<html>
<head>
    <title>almost-gallery</title>
</head>
<body>
    <div>
        <a href="{% url 'gallery:index' %}">Home</a>
        {% if user.is_authenticated %}
        <a href="{% url 'gallery:add_album' %}">Add album</a>
        <a href="{% url 'gallery:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'gallery:login' %}">Sing in</a>
        <a href="{% url 'gallery:register' %}">Sing up</a>
        {% endif %}
    </div>
    <div>
    {% block body_block %}
    {% endblock %}
    </div>
</body>
</html>