<!DOCTYPE html>
{% extends 'gallery/base.html' %}
{% load gallery_template_tags %}
{% load staticfiles %}

<html>

<head>
    <title>almost-gallery</title>
</head>

<body>
{% block body_block %}
<a href="/admin">Login(Admin Django)</a>
<h1>List of albums: </h1>
<div>
    <ol type="1">
    {% for album in albums %}
        <li><a href="{% url 'gallery:album' album.slug %}">{{album.name}}</a></li>
    {% endfor %}
    </ol>
</div>
<div>
    <a href="{% url 'gallery:add_album' %}">Add new album</a><br />
    <a href="{% url 'gallery:about' %}">About</a><br />

    <img src="{% static 'images/Koala.jpg' %}" alt="Picture of Koalushka"/>
</div>
{% endblock %}

{% get_album_list %}

</body>

</html>