<!DOCTYPE html>

{% extends 'gallery/base.html' %}
{% load gallery_template_tags %}
{% load staticfiles %}

<html>

<head>
    <title>almost-gallery</title>
</head>
<body>
    {% block body_block %}
    <br/>
    <h1 class="title">List of albums: </h1>
    <div style="margin-left:30px">
        <ol type="1" class="button">
        {% for album in albums %}
            <li><a class="albumList" href="{% url 'gallery:album' album.slug %}">{{album.name}}</a></li>
        {% endfor %}
        </ol>
    </div>
    <div>
        <!--<img src="{% static 'images/Koala.jpg' %}" alt="Picture of Koalushka" style="clear:both;"/>-->
        <br />
    </div>
    {% endblock %}
    {% get_album_list %}
</body>
</html>