<!DOCTYPE html>
{% extends 'gallery/base.html' %}
{% load static %}

<html>

<head>
    <title>Almost Gallery</title>
</head>
<body>
{% block body_block %}
<a href="{% url 'gallery:add_photo' albums.slug %}">Add new photo</a><br />
<h1>List of photos: </h1>
<div>
    {% if albums %}
    <strong>{{albums.name}}</strong>
    {% if photos %}
    <ul>
        {% for photo in photos %}
            <li>{{ photo.title }}</li>
            <img src="{{ photo.image.url }}" />
        {% endfor %}
    </ul>

    {% else %}
    <strong>There's not photos right now!</strong>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
</body>

</html>