
{% extends 'gallery/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <h1 class="title">Registration</h1>
    {% if registered %}
        <strong class="title">Thank You for registering</strong>
    {% else %}
        <strong class="title">Register here:</strong>
        <form id="user_form" method="post" action="/gallery/register/" enctype="multipart/form-data" >
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register"  class="button"/>
        </form>
    {% endif %}
{% endblock %}